#nav-link {float: right;
    height: 40px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #777777;}
 #myname {
        float: left;
        text-align: center;
        background: #4aaaa5;
        padding: 11px;
        color: #ffffff;
        font-family: Cambria, Georgia, serif;
        font-size: 30px;
    }
        /*not centered on my fixed bottom for some reason */
#fixed-bottom {align-content: center;
background-color: #777777; }

.container {height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #777777;}

    .mr-3{ font-family:  Arial, Arial, Helvetica, sans-serif ;
    text-align: absolute;
    width: 960px;
    padding: 100px 200px;
    background: transparent;
    border: #dddddd;
    float: left;}
    .placeholder {width: 150px;}
    
    #input-group input-group-sm mb-3 {
       max-width:960px ;
   }